@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ecf2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-family: Barlow Semi Condensed, sans-serif;
}

.container {
  width: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 5;
      grid-template-rows: 5;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.item {
  border-radius: 10px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.first {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  position: relative;
  background-color: #7541c8;
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 90% 0;
}

.second {
  background-color: #48556a;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}

.third {
  background-color: white;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
}

.fourth {
  background-color: #19212e;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4/1/5/2;
}

.fifth {
  background-color: white;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5/1/6/2;
}

.perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.perfil__basic {
  padding-left: 10px;
}

.img__perfil img {
  width: 35px;
  border-radius: 50%;
}

.perfil__name {
  color: #ecf2f8;
  font-size: 13px;
}

.perfil__career {
  color: rgba(236, 242, 248, 0.7);
  font-size: 11px;
}

.perfil__info {
  margin-top: 15px;
  font-size: 19px;
  color: white;
  font-weight: 600;
}

.perfil__infob {
  margin-top: 15px;
  color: rgba(236, 242, 248, 0.5);
  font-size: 13px;
  line-height: 19px;
}

.jeanette__name, .kira__name, .jeanette__info, .kira__info {
  color: #48556a;
}

.jeanette__career, .kira__career {
  color: rgba(72, 85, 106, 0.7);
}

.jeanette__infob, .kira__infob {
  color: rgba(72, 85, 106, 0.5);
}

@media (min-width: 600px) {
  .container {
    width: 510px;
  }
}

@media (min-width: 1200px) {
  body {
    height: 100vh;
  }
  .container {
    width: 80%;
    height: 65%;
    -ms-grid-columns: 5;
        grid-template-columns: 5;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    margin-top: 0;
    margin-bottom: 0;
  }
  .first {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 1/1/2/4;
    background-position: 80% 0;
  }
  .second {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 1/4/2/5;
  }
  .third {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }
  .fourth {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: 2/2/3/5;
  }
  .fifth {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-area: 1/5/3/6;
  }
}

@media (min-width: 1441px) {
  .container {
    width: 1152px;
    height: 585px;
  }
}
/*# sourceMappingURL=style.css.map */